---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/commons/Header.astro";
import Footer from "../components/sections/commons/Footer.astro"; 
import Testimonials from "../components/sections/commons/Testimonials.astro";
import Hero from "../components/sections/healthServices/Hero.astro";
import HealthDescription from "../components/sections/healthServices/HealthDescription.astro";
import HealthDetail from "../components/sections/healthServices/HealthDetail.astro";
import BannerServirProLocation from "../components/sections/commons/BannerServirProLocation.astro";
import ContactSectionBanner from "../components/sections/healthServices/ContactSectionBanner.astro";
---

<Layout title="Servicios | ServirPRO">
  <Header />
  <main class="bg-white">
    <Hero />
    <HealthDescription />
    <HealthDetail />
    <BannerServirProLocation/>
    <Testimonials />
    <ContactSectionBanner />
  </main>
  <Footer />
</Layout>
