---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import FamilySection from '../components/sections/FamilySection.astro';
import Hero from '../components/sections/HealthServices/Hero.astro';

---

<Layout title="Servicios | ServirPRO">
  <Header />
  <main >
    <Hero/>
		<Testimonials />
		<FamilySection />
  </main>
  <Footer />
 </Layout>